.dark {
  --bg-primary: #2b2c37;
  --bg-secondary: #000112;

  --btn-primary-bg: #635fc7;
  --btn-primary-color: #fff;

  --btn-secondary-bg: #fff;
  --btn-secondary-color: #635fc7;

  --btn-destructive-bg: #ea5555;

  --color-primary: #fff;
  --color-secondary: #828fa3;
  --color-accent: #635fc7;
  --color-destructive: #ea5555;

  --border-color-app: #363745;
}
