:root {
  --bg-primary: #fff;
  --bg-secondary: #f4f7fd;

  --btn-primary-bg: #635fc7;
  --btn-primary-color: #fff;

  --btn-secondary-bg: rgba(99, 95, 199, 0.1);
  --btn-secondary-color: #635fc7;

  --btn-destructive-bg: #ea5555;

  --color-primary: #2b2c37;
  --color-secondary: #2b2c37;
  --color-accent: #635fc7;
  --color-destructive: #ea5555;

  --border-color-app: #e4ebfa;
}
