@import './reset';

@import './global/global';

@import './themes/light';

@import './themes/dark';

.app {
  width: 100vw;
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--color-primary);
  font: var(--font-m);
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
